h1 { font-size: var(--font-size-40-px); color: var(--main-dark-color); text-transform: uppercase; }

.big-title { font-size: var(--font-size-40-px); color: var(--main-dark-color); text-transform: uppercase; }

.form-main-block { padding-top: 45px; }
.form-main-block h1 { text-align: center; width: 80%; margin: 0 auto; }
.form-main-block form { margin-top: 20px; display: flex; gap: 10px; align-items: end; justify-content: center; flex-wrap: wrap; }
.form-main-block form label { width: 285px; }
.form-main-block form label input { width: 100%; }
.form-main-block form select { width: 285px; }
.form-main-block form select input { width: 100%; }
.form-main-block form .btn { width: 285px; }
.form-main-block .input-date-wrapp { display: flex; }
.form-main-block .input-date-wrapp input { width: 100%; }

form label { display: flex; justify-content: space-between; align-items: center; flex-direction: column; gap: 4px; align-items: start; }

label { color: var(--mini-text); font-size: var(--font-size-10-px); font-weight: 400; }

input { background: var(--white-fff); height: 48px; color: var(--main-dark-color); padding: 15px; border-radius: var(--border-radius-15-px); border: none; outline: none; border: 1px solid var(--white-fff); }
input:focus { border: 1px solid var(--secound-acent-color); }

select { background: var(--white-fff); border: 1px solid var(--white-fff); height: 48px; color: var(--main-dark-color); padding: 15px; border-radius: var(--border-radius-15-px); border: none; outline: none; }
select:focus { border: 1px solid var(--secound-acent-color); }

.date-label { position: relative; }
.date-label div { display: flex; gap: 0; width: 100%; }
.date-label input:first-child { border-radius: 15px 0 0 15px; }
.date-label input:last-child { border-radius: 0 15px 15px 0; position: relative; }
.date-label input:last-child::before { content: ''; position: absolute; left: 0; width: 1px; height: 60%; background: #ededed; top: 10px; }
.date-label::before { content: ''; position: absolute; background: url("../img/icon/calendar.svg"); right: 15px; top: 50%; z-index: 99; width: 14px; height: 14px; }

input[type='date']::-webkit-inner-spin-button, input[type='date']::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }

.summ { position: relative; }
.summ::before { content: ''; position: absolute; background: url("../img/icon/ruble.svg"); right: 15px; top: 50%; z-index: 99; width: 15px; height: 14px; }

.summ input { position: relative; }

.event-block { position: relative; padding: var(--margin-20-px); border-radius: var(--border-radius-30-px); background: var(--white-fff); display: flex; justify-content: space-between; align-items: center; flex-direction: column; gap: 20px; align-items: start; }
.event-block .event-block__wrapp { display: flex; justify-content: center; align-items: center; gap: 0px; }
.event-block .btn { margin: 0 auto; }
.event-block .event-block__card { display: flex; flex-direction: column; gap: 8px; width: 230px; position: relative; }
.event-block .event-block__card__image { width: 231px; height: 231px; border-radius: var(--border-radius-30-px); overflow: hidden; position: relative; z-index: 1; }
.event-block .event-block__card__image img { transition: 0.4s; }
.event-block .event-block__card__image:hover img { transform: scale(1.1); }
.event-block .event-block__card .event-block__card__info { display: flex; display: flex; justify-content: space-between; align-items: center; flex-direction: column; gap: 4px; align-items: start; }
.event-block .event-block__card .event-block__card__info__name a { font-size: var(--font-size-15-px); color: var(--main-dark-color); font-weight: 600; }
.event-block .event-block__card .event-block__card__info__name a::before { content: ''; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; }
.event-block .event-block__card .event-block__card__info__geolocation { display: flex; justify-content: center; align-items: center; gap: 4px; font-size: var(--font-size-15-px); color: var(--mini-text); }
.event-block .event-block__card .event-block__card__info__geolocation::after { content: url("../img/icon/geolokation.svg"); width: 15px; height: 15px; }
.event-block .event-block__card .event-block__card__info__price { display: flex; justify-content: center; align-items: center; gap: 4px; font-size: var(--font-size-15-px); color: var(--mini-text); }
.event-block .event-block__card .event-block__card__info__price span { color: var(--akcent-color-green); font-weight: 600; display: flex; justify-content: center; align-items: center; gap: 0px; }
.event-block .event-block__card .event-block__card__info__price span::after { content: url("../img/icon/ruble.svg"); width: 15px; height: 15px; }

img { width: 100%; height: 100%; object-fit: cover; }

.h2-styles { text-transform: uppercase; color: var(--main-dark-color); font-size: var(--font-size-25-px); }
.h2-styles span { color: #0055ff; }

.gallery-wrapper { display: grid; gap: var(--margin-20-px); margin-top: var(--margin-20-px); grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
.gallery-wrapper .gallery-wrapper__image { border-radius: 30px; overflow: hidden; transition: 0.3s; height: 231px; }
.gallery-wrapper .gallery-wrapper__image img { transition: 0.3s; }
.gallery-wrapper .gallery-wrapper__image:hover img { transform: scale(1.2); }
.gallery-wrapper .gallery-wrapper__image.image-1 { grid-column: 1 / 4; }
.gallery-wrapper .gallery-wrapper__image.image-2 { grid-column: 4 / 7; }
.gallery-wrapper .gallery-wrapper__image.image-3 { grid-column: 1 / 3; }
.gallery-wrapper .gallery-wrapper__image.image-4 { grid-column: 3 / 5; }
.gallery-wrapper .gallery-wrapper__image.image-5 { grid-column: 5 / 7; }

.event-block__wrapp .slick-track { display: flex; gap: 20px; }

.event-block__wrapp .slick-arrow { font-size: 0; background: none; border: 0; width: 33px; height: 33px; background: #f3f3f3; border-radius: 50%; position: absolute; z-index: 999; top: 20px; right: 20px; transition: 0.7s; }
.event-block__wrapp .slick-arrow::before { content: url("../img/icon/arrow-slider-dark.svg"); }
.event-block__wrapp .slick-arrow.slick-next { transform: rotate(180deg); }
.event-block__wrapp .slick-arrow.slick-next:hover { transform: rotate(0deg); background: var(--main-dark-color); }
.event-block__wrapp .slick-arrow.slick-next:hover::before { content: url("../img/icon/arrow-slider-white.svg"); }
.event-block__wrapp .slick-arrow.slick-prev { right: 65px; }
.event-block__wrapp .slick-arrow.slick-prev:hover { transform: rotate(180deg); background: var(--main-dark-color); }
.event-block__wrapp .slick-arrow.slick-prev:hover::before { content: url("../img/icon/arrow-slider-white.svg"); }
.event-block__wrapp .slick-list { overflow: hidden; display: flex; width: 730px; }

.bread-crumbs { display: flex; gap: 10px; align-items: center; }
.bread-crumbs a { font-size: var(--font-size-15-px); color: var(--akcent-color-green); }
.bread-crumbs div { display: flex; align-items: center; gap: 10px; color: var(--mini-text); font-size: var(--font-size-15-px); }
.bread-crumbs div::before { content: ''; width: 10px; position: relative; height: 1px; background: #c9c9c9; }

.route_wrapp { display: flex; flex-direction: column; margin-top: 30px; gap: 20px; }

.rote-card { display: flex; background: var(--white-fff); border-radius: var(--border-radius-30-px); padding: var(--margin-30-px); height: 356px; gap: 15px; transition: 0.4s; }
.rote-card__slider { width: 553px; border-radius: var(--border-radius-20-px); overflow: hidden; }
.rote-card__slider img { width: 100%; height: 100%; object-fit: cover; }
.rote-card__info { width: 565px; }
.rote-card__info__top { display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #f0f0f0; margin-bottom: 10px; }
.rote-card__info__top__left h2 { font-size: 30px; margin-bottom: 8px; }
.rote-card__info__top__left__location { display: flex; flex-direction: column; gap: 4px; font-size: var(--font-size-15-px); color: var(--mini-text); }
.rote-card__info__top__left__location span { font-size: var(--font-size-15-px); color: var(--mini-text); }
.rote-card__info__top__left__location__address { display: flex; gap: 10px; align-items: center; font-size: var(--font-size-15-px); color: var(--mini-text); }
.rote-card__info__top__left__location__address span { font-size: var(--font-size-15-px); color: var(--mini-text); display: flex; align-items: center; gap: 4px; }
.rote-card__info__top__left__location__address span.address::after { content: url(../img/icon/geolokation.svg); width: 13px; height: 13px; }
.rote-card__info__top__left__location__price { display: flex; align-items: center; gap: 4px; }
.rote-card__info__top__left__location__price span { font-weight: 700; color: var(--akcent-color-green); display: flex; align-items: center; gap: 0px; }
.rote-card__info__top__left__location__price span::after { content: url("../img/icon/ruble.svg"); width: 13px; height: 13px; }
.rote-card__info__top__right { display: flex; flex-direction: column; align-items: end; gap: 4px; }
.rote-card__info__top__right .span { font-size: var(--font-size-15-px); color: var(--mini-text); }
.rote-card__info__top__right img { width: 120px; height: auto; }
.rote-card__info__desc-rout { margin-bottom: 15px; }
.rote-card__info__desc-rout p { font-size: var(--font-size-15-px); color: var(--mini-text); overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.rote-card__info__buttons-wrapp { display: flex; flex-direction: column; gap: 10px; }
.rote-card__info__buttons-wrapp__buttons { display: flex; gap: 10px; }
.rote-card__info .route-card__info__bottom { display: flex; flex-direction: column; justify-content: space-between; }
.rote-card:hover { transform: scale(1.01); }

.rote-card__info__buttons-wrapp__tag { width: auto; display: flex; flex-wrap: wrap; gap: 5px; }

.tag { padding: 5px 10px; border-radius: 20px; border: 1px solid #d8d8d8; font-size: var(--font-size-10-px); color: var(--mini-text); }

.rote-card__slider { position: relative; }
.rote-card__slider .slick-arrow { display: none !important; }
.rote-card__slider .slick-dots { position: absolute; z-index: 999999; bottom: 0; display: grid; grid-template-columns: repeat(7, minmax(50px, 1fr)); left: 50%; transform: translate(-50%, -50%); width: 100%; padding: 0 30px; gap: 5px; }
.rote-card__slider .slick-dots li button { background: #ffffffda; border-radius: 20px; cursor: pointer; width: 100%; transition: 0.3s; height: 3px; border: none; font-size: 0; }
.rote-card__slider .slick-dots li button:hover { background: #ffffff; }

.pagination { display: flex; gap: 10px; margin-top: 20px; }
.pagination a.prev-btn { border: 1px solid var(--main-dark-color); background: var(--main-dark-color); display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 6px; }
.pagination a.prev-btn img { width: 19px; height: 19px; }
.pagination a { border: 1px solid var(--mini-text); font-size: 15px; color: var(--main-dark-color); display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; transition: 0.4s; border-radius: 6px; }
.pagination a.active { background: var(--main-dark-color); color: var(--white-fff); border: 1px solid var(--main-dark-color); }
.pagination a:hover { transform: scale(1.05); }

.search-dots-wrapper { display: flex; gap: 10px; margin-top: var(--font-size-40-px); align-items: end; }
.search-dots-wrapper label { display: flex; flex-direction: column; width: 100%; gap: 4px; }
.search-dots-wrapper .btn { width: 238px; }

.route-redactor { display: flex; margin-top: 20px; gap: 20px; }
.route-redactor__map { width: 570px; }
.route-redactor__map__map { width: 100%; height: 470px; border-radius: var(--border-radius-30-px); overflow: hidden; background: #ffcccc; margin-bottom: 30px; }
.route-redactor__map__specifications__desc { margin-bottom: 30px; display: flex; gap: 20px; align-items: end; justify-content: space-between; }
.route-redactor__map__specifications__desc p { color: var(--mini-text); font-size: var(--font-size-15-px); }
.route-redactor__map__specifications__locations { display: flex; gap: 20px; justify-content: space-between; align-items: end; margin-bottom: 30px; }
.route-redactor__map__specifications__locations__left { display: flex; flex-direction: column; gap: 8px; color: var(--mini-text); font-size: var(--font-size-15-px); }
.route-redactor__map__specifications__locations__left .specifications_date { display: flex; gap: 4px; color: var(--mini-text); font-size: var(--font-size-15-px); }
.route-redactor__map__specifications__locations__left .specifications_date span { color: var(--akcent-color-green); font-size: var(--font-size-15-px); }
.route-redactor__map__specifications .edit { color: var(--akcent-color-green); font-size: var(--border-radius-10-px); border: none; outline: none; cursor: pointer; }
.route-redactor__map__specifications .edit:hover { text-decoration: underline; }
.route-redactor__map__specifications__rags { display: flex; justify-content: space-between; gap: 20px; }
.route-redactor__dots { width: 580px; font-size: var(--akcent-color-green); }

.route-redactor__map__specifications__peoples { font-family: Arial, sans-serif; }

.route-redactor__map__specifications__peoples { margin: 20px 0 0 0; }

.route-redactor__map__specifications__peoples__title { font-size: 18px; font-weight: 700; color: var(--main-dark-color); margin-bottom: 15px; }

.peoples__category { margin-bottom: 15px; display: flex; gap: 5px; width: 240px; justify-content: space-between; }
.peoples__category__text { display: flex; flex-direction: column; align-items: start; width: 140px; }

.peoples__subtitle { color: var(--mini-text, gray); font-size: 12px; }

.peoples__counter { display: flex; align-items: center; gap: 10px; }

.counter__btn { background-color: var(--akcent-color-green); color: var(--white-fff); border: 1px solid var(--akcent-color-green, #00b894); border-radius: 50%; width: 30px; height: 30px; font-size: 18px; text-align: center; cursor: pointer; }

.counter__btn:hover { background-color: transparent; color: var(--akcent-color-green); transition: 0.2s; }

#adults-count, #children-count { font-size: 18px; font-weight: 500; width: 25px; text-align: center; }

.route-redactor__map__specifications__buttons { display: flex; gap: 10px; margin-top: 20px; }
.route-redactor__map__specifications__buttons .btn { padding: 15px 15px; width: 100%; }
.route-redactor__map__specifications__buttons .btn.seccound { border: 1px solid var(--main-dark-color); }
.route-redactor__map__specifications__buttons .btn.seccound:hover { background: var(--main-dark-color); color: var(--white-fff); }

.route-redactor__dots { display: flex; flex-direction: column; gap: 20px; }

.dots-card { padding: 20px; background: var(--white-fff); border-radius: 30px; }

.route-redactor__dots { display: flex; flex-direction: column; gap: 20px; }

.dots-card { height: 380px; display: flex; flex-direction: column; justify-content: space-between; }

.dots-card__text { display: flex; flex-direction: column; gap: 4px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ebebeb; color: var(--mini-text); font-size: var(--font-size-15-px); }
.dots-card__text h2 { font-size: 30px; text-overflow: ellipsis; display: -webkit-box; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: var(--main-dark-color); }
.dots-card__text p { font-size: var(--font-size-15-px); color: var(--mini-text); overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

.dots-card__information { display: flex; flex-direction: column; gap: 15px; }

.dots-card__information__top { display: flex; width: 100%; justify-content: space-between; }

.dots-card__information__top__adress { display: flex; gap: 10px; }

.green-text { color: var(--akcent-color-green); font-weight: 600; }

.dots-card__information__top__time-work { display: flex; flex-direction: column; gap: 0; font-size: 8px; align-items: end; }
.dots-card__information__top__time-work .green-text { font-size: 10px; }

.dots-card__information__bottom { display: flex; width: 100%; justify-content: space-between; }

.dots-card__information__bottom__price { display: flex; gap: 10px; align-items: center; }
.dots-card__information__bottom__price span.green-text { display: flex; gap: 0; }
.dots-card__information__bottom__price span.green-text::after { content: url("../img/icon/ruble.svg"); width: 13px; height: 13px; }

.dots-card__information__bottom__rating { display: flex; align-items: center; gap: 10px; }
.dots-card__information__bottom__rating img { width: 120px; height: auto; }

.dots-card__image-btn { display: flex; gap: 10px; justify-content: space-between; }

.dots-card__image-btn__left { display: flex; flex-direction: column; gap: 8px; width: 370px; }

.dots-card__image-btn__left__images { display: flex; gap: 10px; }

.dots-card__image-btn__left__images__item { width: 115px; height: 83px; border-radius: 10px; overflow: hidden; }
.dots-card__image-btn__left__images__item img { transition: 0.4s; }
.dots-card__image-btn__left__images__item:hover img { transform: scale(1.1); }

.dots-card__image-btn__left__btn { display: flex; gap: 10px; }
.dots-card__image-btn__left__btn .btn { padding: 15px 30px; width: 100%; }

.dots-card__image-btn__upp-down { display: flex; gap: 8px; align-items: end; }

.upp-down { border: 1px solid var(--mini-text); width: 37px; height: 37px; border-radius: 4px; background: transparent; outline: none; display: flex; align-items: center; justify-content: center; cursor: pointer; transition: 0.4s; }

.upp-down:hover { border: 1px solid var(--akcent-color-green); transform: scale(1.02); }

.down svg { transform: rotate(180deg); }

body.no-scroll { overflow: hidden; }

.image-modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; z-index: 999999; }

.image-modal__overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 1; }

.image-modal__content { position: relative; z-index: 2; max-width: 90%; max-height: 90%; text-align: center; }

.image-modal__img { max-width: 100%; max-height: 100%; border-radius: 5px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); }

.image-modal__close, .image-modal__prev, .image-modal__next { position: absolute; background: transparent; border: none; color: white; font-size: 2rem; cursor: pointer; z-index: 3; }

.image-modal__close { top: 10px; right: 10px; }

.image-modal__prev { top: 50%; left: 10px; transform: translateY(-50%); }

.image-modal__next { top: 50%; right: 10px; transform: translateY(-50%); }
