@mixin display-flex-space-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin display-flex($margin) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $margin;
}
@mixin display-flex-column($margin) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: $margin;
}
h1 {
	font-size: var(--font-size-40-px);
	color: var(--main-dark-color);
	text-transform: uppercase;
}
.big-title {
	font-size: var(--font-size-40-px);
	color: var(--main-dark-color);
	text-transform: uppercase;
}
.form-main-block {
	padding-top: 45px;
	h1 {
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	form {
		margin-top: 20px;
		display: flex;
		gap: 10px;
		align-items: end;
		justify-content: center;
		flex-wrap: wrap;
		label {
			width: 285px;
			input {
				width: 100%;
			}
		}
		select {
			width: 285px;
			input {
				width: 100%;
			}
		}
		.btn {
			width: 285px;
		}
	}
	.input-date-wrapp {
		input {
			width: 100%;
		}
		display: flex;
	}
}

form {
	label {
		@include display-flex-column(4px);
		align-items: start;
	}
}
label {
	color: var(--mini-text);
	font-size: var(--font-size-10-px);
	font-weight: 400;
}
input {
	background: var(--white-fff);
	height: 48px;
	color: var(--main-dark-color);
	padding: 15px;
	border-radius: var(--border-radius-15-px);
	border: none;
	outline: none;
	border: 1px solid var(--white-fff);
	&:focus {
		border: 1px solid var(--secound-acent-color);
	}
}
select {
	background: var(--white-fff);
	border: 1px solid var(--white-fff);
	height: 48px;
	color: var(--main-dark-color);
	padding: 15px;
	border-radius: var(--border-radius-15-px);
	border: none;
	outline: none;
	&:focus {
		border: 1px solid var(--secound-acent-color);
	}
}
.date-label {
	div {
		display: flex;
		gap: 0;
		width: 100%;
	}
	input:first-child {
		border-radius: 15px 0 0 15px;
	}
	input:last-child {
		border-radius: 0 15px 15px 0;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 1px;
			height: 60%;
			background: #ededed;
			top: 10px;
		}
	}
	position: relative;
	&::before {
		content: '';
		position: absolute;
		background: url('../img/icon/calendar.svg');
		right: 15px;
		top: 50%;
		z-index: 99;
		width: 14px;
		height: 14px;
	}
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.summ {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		background: url('../img/icon/ruble.svg');
		right: 15px;
		top: 50%;
		z-index: 99;
		width: 15px;
		height: 14px;
	}
}
.summ input {
	position: relative;
}

.event-block {
	position: relative;
	padding: var(--margin-20-px);
	border-radius: var(--border-radius-30-px);
	background: var(--white-fff);
	@include display-flex-column(20px);
	align-items: start;
	.event-block__wrapp {
		@include display-flex(0px);
	}
	.btn {
		margin: 0 auto;
	}
	.event-block__card {
		display: flex;
		flex-direction: column;
		gap: 8px;
		width: 230px;
		position: relative;
		&__image {
			width: 231px;
			height: 231px;
			border-radius: var(--border-radius-30-px);
			overflow: hidden;
			position: relative;
			z-index: 1;
			img {
				transition: 0.4s;
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		.event-block__card__info {
			display: flex;
			@include display-flex-column(4px);
			align-items: start;
		}
		.event-block__card__info__name {
			a {
				font-size: var(--font-size-15-px);
				color: var(--main-dark-color);
				font-weight: 600;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		.event-block__card__info__geolocation {
			@include display-flex(4px);
			font-size: var(--font-size-15-px);
			color: var(--mini-text);
			&::after {
				content: url('../img/icon/geolokation.svg');
				width: 15px;
				height: 15px;
			}
		}
		.event-block__card__info__price {
			@include display-flex(4px);
			font-size: var(--font-size-15-px);
			color: var(--mini-text);
			span {
				color: var(--akcent-color-green);
				font-weight: 600;
				@include display-flex(0px);
				&::after {
					content: url('../img/icon/ruble.svg');
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.h2-styles {
	text-transform: uppercase;
	color: var(--main-dark-color);
	font-size: var(--font-size-25-px);
	span {
		color: #0055ff;
	}
}
.gallery-wrapper {
	display: grid;
	gap: var(--margin-20-px);
	margin-top: var(--margin-20-px);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	.gallery-wrapper__image {
		border-radius: 30px;
		overflow: hidden;
		transition: 0.3s;
		height: 231px;
		img {
			transition: 0.3s;
		}
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
	.gallery-wrapper__image.image-1 {
		grid-column: 1 / 4;
	}
	.gallery-wrapper__image.image-2 {
		grid-column: 4 / 7;
	}
	.gallery-wrapper__image.image-3 {
		grid-column: 1 / 3;
	}
	.gallery-wrapper__image.image-4 {
		grid-column: 3 / 5;
	}
	.gallery-wrapper__image.image-5 {
		grid-column: 5 / 7;
	}
}

.event-block__wrapp .slick-track {
	display: flex;
	gap: 20px;
}
.event-block__wrapp {
	.slick-arrow {
		font-size: 0;
		background: none;
		border: 0;
		width: 33px;
		height: 33px;
		background: #f3f3f3;
		border-radius: 50%;
		position: absolute;
		z-index: 999;
		top: 20px;
		right: 20px;
		transition: 0.7s;
		&::before {
			content: url('../img/icon/arrow-slider-dark.svg');
		}
		&.slick-next {
			transform: rotate(180deg);
			&:hover {
				transform: rotate(0deg);
				background: var(--main-dark-color);
				&::before {
					content: url('../img/icon/arrow-slider-white.svg');
				}
			}
		}
		&.slick-prev {
			right: 65px;
			&:hover {
				transform: rotate(180deg);
				background: var(--main-dark-color);
				&::before {
					content: url('../img/icon/arrow-slider-white.svg');
				}
			}
		}
	}
	.slick-list {
		overflow: hidden;
		display: flex;
		width: 730px;
	}
}
.bread-crumbs {
	display: flex;
	gap: 10px;
	align-items: center;
	a {
		font-size: var(--font-size-15-px);
		color: var(--akcent-color-green);
	}
	div {
		display: flex;
		align-items: center;
		gap: 10px;
		color: var(--mini-text);
		font-size: var(--font-size-15-px);
		&::before {
			content: '';
			width: 10px;
			position: relative;
			height: 1px;
			background: #c9c9c9;
		}
	}
}

// page all rout //////////////////////////

.route_wrapp {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 20px;
}
.rote-card {
	display: flex;
	background: var(--white-fff);
	border-radius: var(--border-radius-30-px);
	padding: var(--margin-30-px);
	height: 356px;
	gap: 15px;
	transition: 0.4s;
	&__slider {
		width: 553px;
		border-radius: var(--border-radius-20-px);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__info {
		width: 565px;
		&__top {
			display: flex;
			justify-content: space-between;
			padding-bottom: 10px;
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 10px;
			&__left {
				h2 {
					font-size: 30px;
					margin-bottom: 8px;
				}
				&__location {
					display: flex;
					flex-direction: column;
					gap: 4px;
					font-size: var(--font-size-15-px);
					color: var(--mini-text);
					span {
						font-size: var(--font-size-15-px);
						color: var(--mini-text);
					}
					&__address {
						display: flex;
						gap: 10px;
						align-items: center;
						font-size: var(--font-size-15-px);
						color: var(--mini-text);
						span {
							font-size: var(--font-size-15-px);
							color: var(--mini-text);
							display: flex;
							align-items: center;
							gap: 4px;
							&.address::after {
								content: url(../img/icon/geolokation.svg);
								width: 13px;
								height: 13px;
							}
						}
					}
					&__price {
						display: flex;
						align-items: center;
						gap: 4px;
						span {
							font-weight: 700;
							color: var(--akcent-color-green);
							display: flex;
							align-items: center;
							gap: 0px;
							&::after {
								content: url('../img/icon/ruble.svg');
								width: 13px;
								height: 13px;
							}
						}
					}
				}
			}
			&__right {
				display: flex;
				flex-direction: column;
				align-items: end;
				gap: 4px;
				.span {
					font-size: var(--font-size-15-px);
					color: var(--mini-text);
				}
				img {
					width: 120px;
					height: auto;
				}
			}
		}
		&__desc-rout {
			margin-bottom: 15px;
			p {
				font-size: var(--font-size-15-px);
				color: var(--mini-text);
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
			}
		}
		&__buttons-wrapp {
			display: flex;
			flex-direction: column;
			gap: 10px;
			&__buttons {
				display: flex;
				gap: 10px;
			}
		}
		.route-card__info__bottom {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&:hover {
		transform: scale(1.01);
	}
}
.rote-card__info__buttons-wrapp__tag {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.tag {
	padding: 5px 10px;
	border-radius: 20px;
	border: 1px solid #d8d8d8;
	font-size: var(--font-size-10-px);
	color: var(--mini-text);
}
.rote-card__slider {
	position: relative;
	.slick-arrow {
		display: none !important;
	}
	.slick-dots {
		position: absolute;
		z-index: 999999;
		bottom: 0;
		display: grid;
		grid-template-columns: repeat(7, minmax(50px, 1fr));
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 0 30px;
		gap: 5px;
		li {
			button {
				background: #ffffffda;
				border-radius: 20px;
				cursor: pointer;
				width: 100%;
				transition: 0.3s;
				height: 3px;
				border: none;
				font-size: 0;
				&:hover {
					background: #ffffff;
				}
			}
		}
	}
}
.pagination {
	display: flex;
	gap: 10px;
	margin-top: 20px;
	a.prev-btn {
		border: 1px solid var(--main-dark-color);
		background: var(--main-dark-color);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 6px;
		img {
			width: 19px;
			height: 19px;
		}
	}
	a {
		border: 1px solid var(--mini-text);
		font-size: 15px;
		color: var(--main-dark-color);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		transition: 0.4s;
		border-radius: 6px;
		&.active {
			background: var(--main-dark-color);
			color: var(--white-fff);
			border: 1px solid var(--main-dark-color);
		}
	}
	a:hover {
		transform: scale(1.05);
	}
}

// page My Roue /////////////////////////////////

.search-dots-wrapper {
	display: flex;
	gap: 10px;
	margin-top: var(--font-size-40-px);
	align-items: end;
	label {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 4px;
	}
	.btn {
		width: 238px;
	}
}
.route-redactor {
	display: flex;
	margin-top: 20px;
	gap: 20px;
	&__map {
		width: 570px;
		&__map {
			width: 100%;
			height: 470px;
			border-radius: var(--border-radius-30-px);
			overflow: hidden;
			background: hsl(0, 100%, 90%);
			margin-bottom: 30px;
		}
		&__specifications {
			&__desc {
				margin-bottom: 30px;
				display: flex;
				gap: 20px;
				align-items: end;
				justify-content: space-between;
				p {
					color: var(--mini-text);
					font-size: var(--font-size-15-px);
				}
			}
			&__locations {
				display: flex;
				gap: 20px;
				justify-content: space-between;
				align-items: end;
				margin-bottom: 30px;
				&__left {
					display: flex;
					flex-direction: column;
					gap: 8px;
					color: var(--mini-text);
					font-size: var(--font-size-15-px);
					.specifications_date {
						display: flex;
						gap: 4px;
						color: var(--mini-text);
						font-size: var(--font-size-15-px);
						span {
							color: var(--akcent-color-green);
							font-size: var(--font-size-15-px);
						}
					}
				}
			}
			.edit {
				color: var(--akcent-color-green);
				font-size: var(--border-radius-10-px);
				border: none;
				outline: none;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
			&__rags {
				display: flex;
				justify-content: space-between;
				gap: 20px;
			}
		}
	}
	&__dots {
		width: 580px;
	}
}
