@mixin display-flex-space-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin display-flex($margin) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $margin;
}
@mixin display-flex-column($margin) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: $margin;
}
h1 {
	font-size: var(--font-size-40-px);
	color: var(--main-dark-color);
	text-transform: uppercase;
}
.form-main-block {
	padding-top: 45px;
	h1 {
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	form {
		margin-top: 20px;
		display: flex;
		gap: 10px;
		align-items: end;
		justify-content: center;
		flex-wrap: wrap;
		label {
			width: 285px;
			input {
				width: 100%;
			}
		}
		select {
			width: 285px;
			input {
				width: 100%;
			}
		}
		.btn {
			width: 285px;
		}
	}
	.input-date-wrapp {
		input {
			width: 100%;
		}
		display: flex;
	}
}

form {
	label {
		@include display-flex-column(4px);
		align-items: start;
	}
}
label {
	color: var(--mini-text);
	font-size: var(--font-size-10-px);
	font-weight: 400;
}
input {
	background: var(--white-fff);
	height: 48px;
	color: var(--main-dark-color);
	padding: 15px;
	border-radius: var(--border-radius-15-px);
	border: none;
	outline: none;
	border: 1px solid var(--white-fff);
	&:focus {
		border: 1px solid var(--secound-acent-color);
	}
}
select {
	background: var(--white-fff);
	border: 1px solid var(--white-fff);
	height: 48px;
	color: var(--main-dark-color);
	padding: 15px;
	border-radius: var(--border-radius-15-px);
	border: none;
	outline: none;
	&:focus {
		border: 1px solid var(--secound-acent-color);
	}
}
.date-label {
	div {
		display: flex;
		gap: 0;
		width: 100%;
	}
	input:first-child {
		border-radius: 15px 0 0 15px;
	}
	input:last-child {
		border-radius: 0 15px 15px 0;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 1px;
			height: 60%;
			background: #ededed;
			top: 10px;
		}
	}
	position: relative;
	&::before {
		content: '';
		position: absolute;
		background: url('../img/icon/calendar.svg');
		right: 15px;
		top: 50%;
		z-index: 99;
		width: 14px;
		height: 14px;
	}
}
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.summ {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		background: url('../img/icon/ruble.svg');
		right: 15px;
		top: 50%;
		z-index: 99;
		width: 15px;
		height: 14px;
	}
}
.summ input {
	position: relative;
}

.event-block {
	padding: var(--margin-20-px);
	border-radius: var(--border-radius-30-px);
	background: var(--white-fff);
	@include display-flex-column(20px);
	align-items: start;
	.event-block__wrapp {
		@include display-flex(20px);
	}
	.btn {
		margin: 0 auto;
	}
	.event-block__card {
		display: flex;
		flex-direction: column;
		gap: 8px;
		position: relative;
		&__image {
			width: 231px;
			height: 231px;
			border-radius: var(--border-radius-30-px);
			overflow: hidden;
			position: relative;
			z-index: 1;
			img {
				transition: 0.4s;
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
		.event-block__card__info {
			display: flex;
			@include display-flex-column(4px);
			align-items: start;
		}
		.event-block__card__info__name {
			a {
				font-size: var(--font-size-15-px);
				color: var(--main-dark-color);
				font-weight: 600;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
		.event-block__card__info__geolocation {
			@include display-flex(4px);
			font-size: var(--font-size-15-px);
			color: var(--mini-text);
			&::after {
				content: url('../img/icon/geolokation.svg');
				width: 15px;
				height: 15px;
			}
		}
		.event-block__card__info__price {
			@include display-flex(4px);
			font-size: var(--font-size-15-px);
			color: var(--mini-text);
			span {
				color: var(--akcent-color-green);
				font-weight: 600;
				@include display-flex(0px);
				&::after {
					content: url('../img/icon/ruble.svg');
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.h2-styles {
	text-transform: uppercase;
	color: var(--main-dark-color);
	font-size: var(--font-size-25-px);
	span {
		color: #0055ff;
	}
}
